# === IDE/Editor ===
.vscode/
.idea/
*.swp
*.swo

# === System ===
.DS_Store
Thumbs.db

# === Environment ===
.env
.env.dev
.env.local
.env.prod
.env.*
!.env.example

# === Logs ===
*.log
npm-debug.log*

# === Optional ===
dist/         # Generic build folder (if used)
tmp/          # Temporary files


# Python virtual environments
server/venv/
